In [1]:
#READ DATASET
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
%matplotlib inline

players_teams_data = pd.read_csv("../basketballPlayoffs/players_teams.csv")

In [2]:
# SIZE OF DATA
players_teams_data.shape

(1876, 43)

In [3]:
# CHECK FOR DUPLICATED LINES
players_teams_data.duplicated().any()

False

In [4]:
# SEE THE FIRST ROWS
players_teams_data.head()

,playerID,year,stint,tmID,lgID,GP,GS,minutes,points,oRebounds,...,PostBlocks,PostTurnovers,PostPF,PostfgAttempted,PostfgMade,PostftAttempted,PostftMade,PostthreeAttempted,PostthreeMade,PostDQ
0,abrossv01w,2,0,MIN,WNBA,26,23,846,343,43,...,0,0,0,0,0,0,0,0,0,0
1,abrossv01w,3,0,MIN,WNBA,27,27,805,314,45,...,0,0,0,0,0,0,0,0,0,0
2,abrossv01w,4,0,MIN,WNBA,30,25,792,318,44,...,1,8,8,22,6,8,8,7,3,0
3,abrossv01w,5,0,MIN,WNBA,22,11,462,146,17,...,2,3,7,23,8,4,2,8,2,0
4,abrossv01w,6,0,MIN,WNBA,31,31,777,304,29,...,0,0,0,0,0,0,0,0,0,0

In [5]:
# DESCRIPTION OF EACH ATTRIBUTE OF THE DATASET
players_teams_data.describe()

,year,stint,GP,GS,minutes,points,oRebounds,dRebounds,rebounds,assists,...,PostBlocks,PostTurnovers,PostPF,PostfgAttempted,PostfgMade,PostftAttempted,PostftMade,PostthreeAttempted,PostthreeMade,PostDQ
count,1876.000000,1876.000000,1876.000000,1876.000000,1876.000000,1876.000000,1876.000000,1876.000000,1876.000000,1876.000000,...,1876.000000,1876.000000,1876.000000,1876.000000,1876.000000,1876.000000,1876.000000,1876.000000,1876.000000,1876.000000
mean,5.326226,0.113539,24.320896,12.438166,501.269190,176.261727,24.388060,54.334755,78.722814,39.031983,...,0.759062,2.623134,3.735075,12.282516,5.149254,3.672708,2.822495,2.924307,1.019723,0.026652
std,2.905475,0.422574,10.460614,13.641697,359.566117,161.983839,23.325974,48.347088,69.210226,40.147037,...,2.280011,5.037807,6.697874,24.313379,10.726421,8.463917,6.723170,7.751034,2.992637,0.170751
min,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.000000,0.000000,17.000000,0.000000,165.000000,41.000000,6.000000,15.000000,21.000000,8.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,5.000000,0.000000,29.000000,5.000000,459.000000,129.000000,18.000000,42.000000,63.000000,26.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,8.000000,0.000000,32.000000,29.000000,826.250000,284.000000,36.000000,83.000000,119.000000,57.250000,...,0.000000,3.000000,5.000000,15.000000,6.000000,4.000000,2.000000,1.000000,0.000000,0.000000
max,10.000000,3.000000,34.000000,34.000000,1234.000000,860.000000,162.000000,276.000000,363.000000,236.000000,...,31.000000,34.000000,43.000000,188.000000,82.000000,68.000000,62.000000,85.000000,32.000000,2.000000

In [6]:
# DESCRIPTION OF FUEL ATTRIBUTE OF THE DATASET
players_teams_data.describe(include='object')

          playerID  tmID  lgID
count         1876  1876  1876
unique         555    20     1
top     melvich01w   PHO  WNBA
freq            11   152  1876

In [7]:
# TYPES
players_teams_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1876 entries, 0 to 1875
Data columns (total 43 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   playerID            1876 non-null   object
 1   year                1876 non-null   int64
 2   stint               1876 non-null   int64
 3   tmID                1876 non-null   object
 4   lgID                1876 non-null   object
 5   GP                  1876 non-null   int64
 6   GS                  1876 non-null   int64
 7   minutes             1876 non-null   int64
 8   points              1876 non-null   int64
 9   oRebounds           1876 non-null   int64
 10  dRebounds           1876 non-null   int64
 11  rebounds            1876 non-null   int64
 12  assists             1876 non-null   int64
 13  steals              1876 non-null   int64
 14  blocks              1876 non-null   int64
 15  turnovers           1876 non-null   int64
 16  PF                  1876 non-null   int64
 17  fgAttempted         1876 non-null   int64
 18  fgMade              1876 non-null   int64
 19  ftAttempted         1876 non-null   int64
 20  ftMade              1876 non-null   int64
 21  threeAttempted      1876 non-null   int64
 22  threeMade           1876 non-null   int64
 23  dq                  1876 non-null   int64
 24  PostGP              1876 non-null   int64
 25  PostGS              1876 non-null   int64
 26  PostMinutes         1876 non-null   int64
 27  PostPoints          1876 non-null   int64
 28  PostoRebounds       1876 non-null   int64
 29  PostdRebounds       1876 non-null   int64
 30  PostRebounds        1876 non-null   int64
 31  PostAssists         1876 non-null   int64
 32  PostSteals          1876 non-null   int64
 33  PostBlocks          1876 non-null   int64
 34  PostTurnovers       1876 non-null   int64
 35  PostPF              1876 non-null   int64
 36  PostfgAttempted     1876 non-null   int64
 37  PostfgMade          1876 non-null   int64
 38  PostftAttempted     1876 non-null   int64
 39  PostftMade          1876 non-null   int64
 40  PostthreeAttempted  1876 non-null   int64
 41  PostthreeMade       1876 non-null   int64
 42  PostDQ              1876 non-null   int64
dtypes: int64(40), object(3)
memory usage: 630.3+ KB